* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
 background: #333;
 color: white;
 padding: 15px;
 display: flex;
justify-content: space-between;
align-items: center;
}

nav a {
color: white;
margin-left: 15px;
text-decoration: none;
}

.hero {
background: #f4f4f4;
text-align: center;
 padding: 60px 20px;
}

section {
padding: 40px 20px;
text-align: center;
}

.project {
background: #eee;
margin: 15px;
padding: 15px;
border-radius: 5px;
}

footer {
 background: #333;
 color: white;
text-align: center;
padding: 15px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }
    project {
        margin: 10px 0;
    }
}
